
body, html {
	background: white;
	background-size: cover;
	margin:0;
	padding:0;
	overflow:hidden;
	background: black;

}

img {
	max-height: auto;

}

@font-face {
  font-family: "Avara";
  src: url("fonts/Avara-Bold_web.otf") format("opentype");
}

hr.new1 {
    border: 2px;
    border-style: solid none none none;
    color: white;
    width: 100%;
		margin-top: 5%;
		height: auto;
		position: fixed;
}

.home {
	position:fixed; /* Position fixed means the element stays always on the same position on the page */
	background-color: none;
	background-size: cover;
	width:38%;
	top:1%;
  font-family: "Avara";
	color: white;
	font-size:4vw;
	height:80vh;
	text-align: center;
	left:30%;
	right:10%;
	margin: 2vh;
	/* z-index:2;  */
}

.dropdown-content {
  display: none;
  position: absolute;
	font-family: "Avara";
	color: white;
	font-size:1.5vw;
  background-color: black;
width: 25vw;
text-align: left;
left:2%;
  padding: 0.8em 0.9em;
  z-index: 99;
	word-break: normal;
}

.home:hover .dropdown-content {
  display: block;
}
.home:hover ~ #content {
	display:none;
}

.pinecone {
	position:absolute;
	width:10%;
	bottom:5%;
	height:5%;
	border:0px;
	left:47%;
	z-index:3;
	font-size: 30px;
	color: white;
	text-shadow: 1px 1px 3px black;
}

.move {
	position:fixed;
	width: 5%;
	height:10%;
	top:45%;
	/* border: 1px solid black; */
	z-index:1;
}
.left{
		background-color: none;
	background-size: cover;
	border:0px;
 	left:5%;
	width:90px;
	height:90px;
	top:1%;
float: left;
	font-size:3vw;
	color: white;
		text-shadow: 2vw;
}



.right{
	background-color: none;
	background-size: cover;
	border:0vw;
 	right:1%;
	width:90px;
	height:90px;
	top:1%;
float: right;
	font-size:3vw;
	color: white;
		text-shadow: 2vw;
}

.internal{ /* container of the seperate pages with the images */
	 width: 100%;
	 height: 90%;

	 top: 10%;
	 /* border: 1px solid black; */
	 display: inline-block;
	 overflow:hidden;
	 position:relative; /* Position fixed means the element is positioned relative to other elements on the page */
}
.internal .randomimg { /* The images get a maximum width they can have, otherwise they can be bigger than the page itself */
	/* max-width:40%; */
	/* left: 40%; */
	padding-left: 20vw;
	height:auto;
	position:absolute;
}

.center{
	 width: 100%;
	 height: 100%;
	 top: 0;
	 /* border: 1px solid black; */
	 margin: 1vw;
	 overflow: hidden; /* No horizontal or vertical scrollbars are allowed */
	 white-space: nowrap;
}
.pineconetext {

	/* background-size: cover; */
	border: 0vw;
	height: 100%;
	width: 100%;
	height: 100%;
	padding: 5%;
	position: absolute;
	display: block;
	top: 90%;
	z-index: 2;
	/* background-color: blue; */

}

/* .pineconetext one {
	background: url("img/webbags.png");
	background: fill;
	border: 0px;
	height: 100%;
	width: 100%;

	z-index: 2;
}

.pineconetext two {


} */
