
body, html {
	background: white;
	background-size: cover;
	margin:0;
	padding:0;
	overflow:hidden;
	background: black;

}

img {
	max-height: auto;

}

@font-face {
  font-family: "Avara";
  src: url("fonts/Avara-Bold_web.otf") format("opentype");
}

hr.new1 {
    border: 0.2vw;
    border-style: solid none none none;
    color: white;
    width: 100%;
		margin-top: 10.5vh;
		height: auto;
		position: fixed;
}

.home {
	position:fixed; /* Position fixed means the element stays always on the same position on the page */
	background-color: none;
	background-size: cover;
	width:38%;
	top:1%;
  font-family: "Avara";
	color: white;
	font-size:4vw;
	height:inherit;
	text-align: center;
	left:30%;
	right:10%;
	margin: 2vh;
	/* z-index:2;  */
}


.dropdown-content {
  display: none;
  position: absolute;
	font-family: "Avara";
	color: white;
	font-size:1.5vw;
  background-color: black;
width: 25vw;
text-align: left;
left:2%;
  padding: 0.8em 0.9em;
  z-index: 99;
	word-break: normal;
}

.home:hover .dropdown-content {
  display: block;
}
.home:hover ~ #content {
	display:none;
}
.home:hover ~ .gallery {
	display:none;
}

.dropdown-content a {
	color: black;

}

.dropdown-content a:hover{
	color: rgb(193, 12, 12);
	  cursor: pointer;
		text-decoration: underline rgb(193, 12, 12);

}

.pinecone {
	position:absolute;
	width:10%;
	bottom:10%;
	height:5%;
	border:0px;
	left:47%;
	z-index:3;
	font-size:4vw;
	/* top: 88%; */
	color: white;
	text-shadow: 1px 1px 3px black;
	cursor: pointer;
	display:none;
}

.move {
	position:fixed;
	width: 5%;
	height:10%;
	top:45%;
	/* border: 1px solid black; */
	z-index:1;
}
.left{
		background-color: none;
	background-size: cover;
	border:0px;
 	left:5%;
	width:90px;
	height:90px;
	top:1%;
float: left;
	font-size:3vw;
	color: white;
		text-shadow: 2vw;
cursor: pointer;
}



.right{
	background-color: none;
	background-size: cover;
	border:0vw;
 	right:1%;
	width:90px;
	height:90px;
	top:1%;
float: right;
	font-size:3vw;
	color: white;
		text-shadow: 2vw;
		cursor: pointer;
}

.internal{ /* container of the seperate pages with the images */
	 width: 100%;
	 height: 90%;

	 top: 10%;
	 /* border: 1px solid black; */
	 display: inline-block;
	 overflow:hidden;
	 position:relative; /* Position fixed means the element is positioned relative to other elements on the page */
}
.internal .randomimg { /* The images get a maximum width they can have, otherwise they can be bigger than the page itself */
	/* max-width:40%; */
	/* left: 40%; */
	padding-left: 20vw;
	height:auto;
	position:absolute;
}

.center{
	 width: 100%;
	 height: 100%;

	 /* border: 1px solid black; */
	 margin: 1vw;
	 overflow: hidden; /* No horizontal or vertical scrollbars are allowed */
	 white-space: nowrap;
}
.pineconetext {

	/* background-size: cover; */
	border: 0vw;
	height: 100%;
	width: 100%;
	height: 100%;
	padding: 5%;
	position: absolute;
	display: block;
	top: -19%;
	z-index: 2;


}

/* .pineconetext one {
	background: url("img/webbags.png");
	background: fill;
	border: 0px;
	height: 100%;
	width: 100%;

	z-index: 2;
}

.pineconetext two {


} */
.gallery{
	position:relative;
	left: 6%;
	top: 20%;
	display: inline-block;
	width: 50vw;
	height: 70vh;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-right: 7%;
	/* margin-bottom: 30%; */


}
::-webkit-scrollbar {
  width: 0.7vw;
	    direction: rtl;
}


::-webkit-scrollbar-track {
background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(193, 12, 12);
  border-radius: 10px;
}

.gallery img {
	max-height:42%;
}

.bag {
	float:right;

		top: 20%;
		position:relative;
		width: 40vw;
		height: 50vh;

}

.bag img {
		max-height:150%;


}
